@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 0.0rem;
}

.footer-text {
  font-size: 0.8rem;  // smaller than default
}

.dark-mode.footer-text {
  font-size: 0.8rem;  // keep consistent for dark mode
}
